{% load static %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Bhavi India Fashion</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products:catalog' %}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bulk_orders:form' %}">Bulk Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'custom_designs:form' %}">Custom Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'virtual_tryon:index' %}">Virtual Try-On</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tailor_jobs:form' %}">Tailor Jobs</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link wishlist-link" href="{% url 'accounts:wishlist' %}" title="Wishlist">
                        <i class="far fa-heart"></i>
                        <span class="badge bg-primary wishlist-count">0</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'orders:cart' %}">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="badge bg-primary cart-count">0</span>
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i> {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'accounts:profile' %}">My Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'accounts:order_history' %}">My Orders</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'accounts:wishlist' %}">My Wishlist</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>